/Front/node_modules
/Front/build
/Front/coverage
/Dump/
/Photoes/
/BodyBlock.test.ts
/BodyBlock.test.ts
/CountryCity_backup.sql
/ERA_DB_Backup.sql
/GoogleMap.Markers.ts
/Photoes.zip
/NodeServer/node_modules/
/NodeServer/build/
/.vscode/
/NodeServer/pageBuild/
/NodeServer/tsconfig.tsbuildinfo
/NodeServer/build/
/NodeServer/src/Neural/node_modules/
/NodeServer/src/Neural/super/
/NodeServer/src/Neural/ERA_NeuralBackup_31.05.2020.zip
